<ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label> Logged in: {{ currentUser ? 'Yes' : 'No' }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> User: {{ currentUser?.email }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> Biometrics is Enabled: {{biometricsEnabled}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> Biometrics is Supported: {{biometricsSupported}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> Locked Out of Biometrics: {{lockedOut}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> System Passcode Set: {{systemPasscodeSet}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> Privacy Screen Enabled: {{privacyScreenEnabled}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> Status: {{lockStatus$ | async}} </ion-label>
    </ion-item>
  </ion-list>

  <ion-button [disabled]="!currentUser" (click)="logout()">Logout</ion-button>
</ion-content>
