<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-radio-group
    *ngIf="vaultTypes.length"
    (ionChange)="vaultTypeChanged($event)"
  >
    <ion-list-header>
      <ion-label> Session Locking </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let vaultType of vaultTypes; index as idx">
      <ion-label>{{ vaultType.label }}</ion-label>
      <ion-radio [value]="idx"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-button expand="block" (click)="lock()">Lock</ion-button>
</ion-content>
